body {
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #ac0505;
}

.links {
    text-decoration: none;
}

.header-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.header-icon {
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}

footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #ac0505;
}

.copy-text {
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.main-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.footer-name {
    color: #ffffff;
    font-size: 35px;
}

.contact {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footer-links {
    text-decoration:  none;
    transition: all 0.3s ease;
} 

.footer-links:hover{
    transform: scale(1.1);
}

.footer-icons {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.contact-texts {
    padding: 5px;
    color: #fff;
}
