body {
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #ac0505;
}

.links {
    text-decoration: none;
}

.header-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.header-icon {
    color: #fff;
    font-size: 2em;
    cursor: pointer;
}
